/* Imports de police d'écriture */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
	font-family: bebas;
	src: url(../medias/Bebas\ Neue\ Bold.otf);
}

/* Fin des imports de police d'écriture */

#main-logo {
	width: 7vw;
	box-shadow: 0px 0px 3px 0px #000000;
	-webkit-box-shadow: 0px 0px 3px 0px #000000;
}

#top {
	text-align: center;
}

html {
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
	cursor: url("../cursor.cur"), auto;
}

.content {
	margin: 10vw;
	box-shadow: 0px 0px 10px 3px #000000;
	-webkit-box-shadow: 0px 0px 10px 3px #000000;
	padding: 1vw
}

.subtitle {
	margin: 10px 0;
}

.intro-video {
	box-shadow: 0px 0px 3px 0px #000000;
	-webkit-box-shadow: 0px 0px 3px 0px #000000;
}

body {
	margin: 0;
}

nav {
	list-style-type: none;
	background: #5f80ff;
	;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	box-shadow: 1px 6px 10px 6px rgb(0 0 0 / 75%);
	-webkit-box-shadow: 1px -2px 10px 6px rgb(0 0 0 / 75%);
	-moz-box-shadow: 1px 6px 10px 6px rgba(0, 0, 0, 0.75);
}

.menu>li {
	float: right;
	list-style-type: none;
	padding: 14px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #7e96ff;
	text-decoration: none;
	color: black;
}

.actif {
	background-color: #ffffffd4;
	color: #3c65ff;
}

li a:hover,
.actif {
	border-radius: 8px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: "logo main-title menu";
	height: 16vh;
	width: auto;
	align-items: center;
}

.logo {
	grid-area: logo;
	padding: 1vh;
}

.menu {
	grid-area: menu;
}

.main-title {
	grid-area: main-title;
	color: white;
	letter-spacing: 6px;
}

h1 {
	text-align: center;
	font-family: "bebas";
	font-size: 65px;
	margin: 0;
	padding-top: 30px;
	text-shadow: 2px 2px 0 #00135a;
	margin-bottom: 30px;
	list-style: lower-alpha;
	color: #5f80ff;
}

.title:before,
.title::after {
	content: "";
	flex: 1 1;
	border-bottom: 2px solid #708dff;
	margin: auto;
	display: block;
	width: 80px;
	fill: black;
	margin: -4px auto 0 auto;
}

.carousel-bg {
	text-size-adjust: 2%;
	font-family: "Roboto", sans-serif;
	color: #ffffff;
	text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
		-2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000,
		-2px 0px 0 #000000, 0px -2px 0 #000000;
}

.new-section {
	padding-top: 20vw;
}

td {
	text-align: initial;
}